{
  "root": true,
  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "requireConfigFile": false
  },
  "extends": [
    "@nuxtjs",
    "plugin:prettier/recommended",
    "plugin:nuxt/recommended"
  ],
  "plugins": ["prettier"],
  "rules": {}
}
